.hero {
  background-color: #f3eef0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.heroImage {
  flex: 1;
  border-radius: 50%;
  margin: 0 0 30px;
  min-height: 300px;
  /* height: 400px; */
  width: 300px;
  box-shadow: 1px 0px 5px #33333380;
  align-self: center;
}

.heroDetails {
  flex: 1;
  margin: 0 0 0px;
  flex-direction: column;
}
.heroDetails p {
  font-size: 1.2em;
  font-style: italic;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.blogImages {
  flex: 1;
  max-height: 40vh;
  min-width: 80vw;
  margin: 10px 5px;
  background-position: "top";
  border-radius: 15px;
}

.blogImages:hover {
  box-shadow: 1px 0px 15px #99000080;
  cursor: pointer;
}

.lightbox {
  background-color: #333333;
}

.testimonial blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;

  background: none;
  font-family: Georgia, serif;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0 15px;
  position: relative;
  /* text-shadow: 0 1px white; */
  z-index: 600;
}

.testimonial blockquote * {
  box-sizing: border-box;
}
.testimonial blockquote p:first-child:before {
  content: "\201C";
  color: #990028;
  font-size: 7.5em;
  font-weight: 700;
  opacity: 0.2;
  position: absolute;
  top: -0.4em;
  left: -0.2em;
  text-shadow: none;
  z-index: -300;
}

.testimonial blockquote p {
  /* color: #75808a; */
  line-height: 1.4 !important;
}
@media only screen and (min-width: 400px) {
  .blogImages {
    min-width: 40vw;
    height: 60vh;
    margin: 10px 5px;
  }
}
@media only screen and (min-width: 600px) {
  .hero {
    flex-direction: row;
  }
  .heroImage {
    border-radius: 50%;
    margin: 0 30px 30px 0;
    height: 300px;
    max-width: 300px;
    min-width: 300px;
    align-self: start;
  }

  /* .heroDetails p {
    font-weight: 2em;
    font-size: 1.8em;
    font-style: italic;
  } */
}
@media only screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
  .heroImage {
    border-radius: 50%;
    margin: 0 30px 30px 0;
    height: 360px;
    max-width: 360px;
    min-width: 360px;
  }

  .heroDetails p {
    font-weight: 2em;
    font-size: 1.8em;
    font-style: italic;
  }
}
@media only screen and (min-width: 900px) {
  .heroImage {
    border-radius: 50%;
    margin: 0 30px 30px 0;
    height: 400px;
    max-width: 400px;
    min-width: 400px;
  }
  .blogImages {
    min-width: 300px;
    margin: 30px 5px;
  }
}
