.hero {
  background-color: #f3eef0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.heroImage {
  flex: 1;
  margin: 0 0 30px;
  min-height: 400px;
  box-shadow: 1px 0px 5px #33333380;
}

.heroDetails {
  flex: 1;
  margin: 0 0 0px;
  flex-direction: column;
}
.heroDetails p {
  font-size: 1.2em;
  font-style: italic;
}

.blogImages {
  flex: 1;
  max-height: 40vh;
  min-width: 80vw;
  margin: 10px 5px;
  background-position: "top";
  border-radius: 15px;
}

.blogImages:hover {
  box-shadow: 1px 0px 15px #99000080;
  cursor: pointer;
}

.lightbox {
  background-color: #990000cc;
}

@media only screen and (min-width: 400px) {
  .blogImages {
    min-width: 40vw;
    height: 60vh;
    margin: 10px 5px;
  }
}
@media only screen and (min-width: 600px) {
  .hero {
    flex-direction: row;
  }
  .heroImage {
    min-height: 400px;
    margin: 0 30px 30px 0;
    width: 400px;
  }

  .heroDetails p {
    font-weight: 2em;
    font-size: 1.8em;
    font-style: italic;
  }
}
@media only screen and (min-width: 900px) {
  .blogImages {
    min-width: 300px;
    margin: 30px 5px;
  }
}
