.previewTitle {
  font-size: 1.5em;
}

.tag {
  color: #a0a0a0;
  text-decoration: none;
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #a0a0a0;
  margin-right: 0.5em;
}

.image {
  box-shadow: 0px 1px 4px #33333350;
  border-radius: 10px;
}
.image:hover {
  box-shadow: 0px 1px 14px #99002850;
}
.description {
  font-style: italic;
  font-size: 1.1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
