@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Roboto", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373f49;
  background: #eee;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  padding: 0 30px 15px;
}

section > :only-child {
  flex: 1;
  max-width: 1200px;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Comfortaa", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

.services-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.service {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.service-image {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-position: top; */
  border-radius: 30px;
  overflow: hidden;
  background-position: 50% 30%;
  /* flex-wrap: wrap; */
}

.service-num {
  flex: 1;
  /* margin-bottom: 100px; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 266px;
  font-size: 36px;
  text-shadow: 3px 3px 3px #00000050;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}
.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #ff0028;
  color: white;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .services-list {
    flex-direction: row;
  }
  .service {
    max-width: calc(33% - 15px);
  }

  .button {
    align-self: center;
    display: inline-block;
  }
  .service-num {
    height: 266px;
    font-size: 40px;
    /* margin-top: -150px; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .service-num {
    height: 341px;
    font-size: 72px;
    /* margin-top: -250px; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .service {
    max-width: calc(33% - 30px);
  }
  .service-num {
    height: 440px;
    font-size: 72px;
    /* margin-top: -250px; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .service-num {
    height: 533px;
    font-size: 72px;
    /* margin-top: -250px; */
  }
  .service-image {
    height: 533px;
  }
}
