.hero {
  position: relative;
  background-color: #f4edee;
  color: #fff;
  text-align: left;
  height: 80vh;
  max-height: 80vhx;
  display: flex;
  justify-content: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  flex: 1;
  margin: 0 30px 30px;
  /* width: 40%; */
  min-width: 400px;
  background-color: #000;
  background-position: top;
  box-shadow: 4px 4px 5px #33333350;
}

.heroDetails {
  flex: 1;
  font-size: 14px;
  padding: 0 0.5em;
  color: #000;
  /* align-self: center; */
}

@media (min-width: 600px) {
  .heroDetails {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}

.heroTyped {
  font-size: 1.5em;
  font-weight: bold;
}
