.hero {
  background-color: #f4edee;
  text-align: left;
  /* height: 80vh; */
  min-height: 600px;
  max-height: 80vhx;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section {
  background-color: #f4edee;
  /* display: flex;
  justify-content: center; */
}

.heroImage {
  flex: 10;
  margin: 0 0 30px;
  min-height: 400px;
  background-position: top;
  box-shadow: 1px 0px 15px #33333380;
}

.heroDetails {
  flex: 16;
  font-size: 14px;
  margin: 0;
  color: #000;
  /* align-self: center; */
}

.button {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

@media (min-width: 600px) {
  .hero {
    flex-direction: row;
  }
  .heroDetails {
    font-size: 18px;
  }
  .heroImage {
    margin: 0 30px 30px 0;
  }
}

@media (min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0 0 30px;
  font-size: 2em;
  line-height: 1.2em;
}

.heroTitle {
  margin: 0 0 30px;
  font-size: 1.125em;
  font-weight: bold;
}
