.hero {
  position: relative;
  background-color: #f4edee;
  color: #fff;
  text-align: center;
  height: 80vh;
  max-height: 80vhx;
  display: flex;
  justify-content: space-around;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  flex: 1;
  padding: 0px;
  max-width: 600px;
  max-height: 900px;
}

.heroDetails {
  flex: 1;
  font-size: 14px;
  padding: 0 0.5em;
  color: #000;
}

@media (min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}

.heroTyped {
  font-size: 1.5em;
  font-weight: bold;
}
