.logo {
  font-family: "Great Vibes", cursive;
  font-size: 3em;
  text-align: center;
  color: #990000;
  align-self: center;
  display: flex;
  background-color: #f4edee;
  justify-content: center;
}
