.logo {
  font-family: "Great Vibes", cursive;
  font-size: 2em;
  text-align: center;
  color: #ff0028;
  align-self: center;
  display: flex;
  background-color: #f4edee;
  justify-content: center;
}

@media (min-width: 600px) {
  .logo {
    font-size: 3em;
  }
}
